<ion-header>
  <ion-navbar>
    <ion-title>Ingresar / Registrar</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div padding>
    <img src="assets/imgs/logo.png">
  </div>
  <div [ngSwitch]="tab">
    <ion-list *ngSwitchCase="'login'">
      <ion-item style="text-align: center">
        <h2>Ingresar</h2>
      </ion-item>
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input [(ngModel)]="user.email" placeholder="email@example.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Clave</ion-label>
        <ion-input [(ngModel)]="user.clave" placeholder="Contraseña"></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button color="primary" block (click)="login()">Enviar</button>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'register'">
      <ion-item style="text-align: center">
        <h2>Registrate</h2>
      </ion-item>
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input [(ngModel)]="new_user.email" placeholder="email@example.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Clave</ion-label>
        <ion-input [(ngModel)]="new_user.clave" placeholder="Contraseña"></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button color="secondary" block (click)="register()">Enviar</button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer padding color="bg-primary">
  <ion-segment [(ngModel)]="tab" color="secondary">
    <ion-segment-button value="login">
      <ion-icon name="person"></ion-icon>
      Ingresar
    </ion-segment-button>
    <ion-segment-button value="register">
      <ion-icon name="person-add"></ion-icon>
      Registrate
    </ion-segment-button>
  </ion-segment>
</ion-footer>
