<ion-header>
  <ion-navbar>
    <ion-title>Planos Generales</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list *ngFor="let p of planos">
    <h3>{{p.title}}</h3>
    <p>
      {{p.desc}}
    </p>
    <button outline block ion-button (click)="descargar(p.url)">
      <ion-icon name="download"></ion-icon>
      Descargar
    </button>
  </ion-list>
</ion-content>
