<ion-header>
  <ion-navbar>
    <ion-title>Contactos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of contactos">
      <ion-card>
        <ion-card-header>
          {{item.titulo}}
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <p>{{item.nombre}}</p>
            <p>Responsable: {{item.responsable}}</p>
            <p>Dirección: {{item.direccion}}</p>
          </ion-item>
          <a ion-item href="tel:{{item.telefono}}">
            <ion-icon item-left name="call" color="primary"></ion-icon>
            Llamar
          </a>
          <a ion-item href="mailto:{{item.email}}">
            <ion-icon item-left name="mail-open" color="primary"></ion-icon>
            Enviar email
          </a>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
