<ion-header>
  <ion-navbar>
    <ion-title>Medidores Metrogas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item *ngFor="let m of data">
        <span>{{m.name}}</span>
        <span class="text-ios-dark" item-end>{{m.number}}</span>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
