<!--
  Generated template for the ReglamentoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Reglamento</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Puntos Principales</h3>
  <p>
    <strong>1.</strong>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida sem a sollicitudin laoreet. Donec eget odio
    volutpat, vulputate justo eget, facilisis risus.
  </p>
  <p>
    <strong>2.</strong>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida sem a sollicitudin laoreet. Donec eget odio
    volutpat, vulputate justo eget, facilisis risus.
  </p>
  <p>
    <strong>3.</strong>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida sem a sollicitudin laoreet. Donec eget odio
    volutpat, vulputate justo eget, facilisis risus.
  </p>
  <h3>General</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida sem a sollicitudin laoreet. Donec eget odio
    volutpat, vulputate justo eget, facilisis risus. Mauris enim orci, sodales quis justo ut, commodo efficitur odio.
    Quisque vestibulum
    vitae orci sit amet aliquam. Cras laoreet arcu ut dictum mollis. Curabitur ornare dui nisi. Vivamus ac tempor lacus.
    Etiam placerat ligula libero, placerat tempor elit luctus sed. In eu arcu sapien. Donec venenatis quam a scelerisque
    malesuada.
    Duis euismod, justo id dignissim malesuada, justo tellus convallis mi, in lacinia massa massa eget dolor. Aliquam
    erat volutpat. Integer vel erat suscipit, mattis erat vitae, aliquet turpis. Aliquam erat volutpat.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida sem a sollicitudin laoreet. Donec eget odio
    volutpat, vulputate justo eget, facilisis risus. Mauris enim orci, sodales quis justo ut, commodo efficitur odio.
    Quisque vestibulum
    vitae orci sit amet aliquam. Cras laoreet arcu ut dictum mollis. Curabitur ornare dui nisi. Vivamus ac tempor lacus.
    Etiam placerat ligula libero, placerat tempor elit luctus sed. In eu arcu sapien. Donec venenatis quam a scelerisque
    malesuada.
    Duis euismod, justo id dignissim malesuada, justo tellus convallis mi, in lacinia massa massa eget dolor. Aliquam
    erat volutpat. Integer vel erat suscipit, mattis erat vitae, aliquet turpis. Aliquam erat volutpat.
  </p>
</ion-content>
