<ion-header>
  <ion-navbar>
    <ion-title>Administración</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-divider>
      Información del edificio
    </ion-item-divider>
    <ion-item>
      Resumen de expensas
      <ion-icon item-end name="ios-arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item>
      Fondo de reserva
      <ion-icon item-end name="ios-arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item>
      Cuenta bancaria
      <ion-icon item-end name="ios-arrow-dropright"></ion-icon>
    </ion-item>
    <ion-item-divider>
      Mantenimiento
    </ion-item-divider>
    <ion-item *ngFor="let m of mantenimiento">
      <ion-card>
        <ion-item-divider>
          {{m.titulo}}
        </ion-item-divider>
        <a ion-item class="text-ios-primary" href="tel:{{m.telefono}}">
          <ion-icon name="call" item-start></ion-icon>
          LLamar
        </a>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>
