<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>PH ECO 1 !</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines margin-top>
    <ion-item *ngFor="let item of pages">
      <button ion-button block color="dark" (click)="goPage(item.component)">
        <ion-icon [name]="item.icon"></ion-icon>
        {{item.title}}
      </button>
    </ion-item>
  </ion-list>
</ion-content>
