page-home {
  ion-icon {
    position: absolute;
    left: 10px;
    font-size: 1.8em;
    margin-right: 10px;
  }
  .label-md, .label-ios {
    margin: 5px 8px 5px 0;
  }
  .item-ios .item-button {
    font-size: 20px;
    text-transform: uppercase;
  }
}
