// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-label {
  white-space: normal;
}

.item-ios .item-button {
  height: 3.7em;
  border-radius: 14px;
}

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
  color: color($colors, 'dark');
  background-color: transparent;
}

.item-ios {
  color: color($colors, 'dark');
  padding: 5px 0 5px 16px;
}

.list-header-ios {
  border-bottom: 1px solid #c8c7cc;
}

.item-ios {
  border-bottom: 1px solid #c8c7cc;
}

.list-ios .item-block .item-inner {
  border: none;
}

$toolbar-ios-button-color: color($colors, 'dark');
