<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Biblioteca de objetos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list class="objetos">
    <ion-list-header no-padding no-margin *ngFor="let item of objetos">
      <button no-lines ion-item detail-none (click)="expandItem(item)">
        <ion-icon name="add-circle" item-right=""></ion-icon>
        {{ item.nombre }}
      </button>
      <expandable [class]="item.expanded? '' : 'no-display'" [expanded]="item.expand" [expandHeight]="itemExpandHeight">
        <ion-card>
          <ion-list>
            <ion-item>
              <h2>{{item.nombre}}</h2>
            </ion-item>
            <ion-item>
              Tiempo maximo de uso {{item.horas}} hs
            </ion-item>
            <ion-item (click)="reservarAhora(item)">
              <ion-icon color="secondary" name="checkmark-circle-outline" item-start></ion-icon>
              <h2 class="text-ios-secondary"> Reservar ahora</h2>
            </ion-item>
            <ion-item (click)="reservar(item)">
              <ion-icon color="secondary" name="calendar" item-start></ion-icon>
              <h2 class="text-ios-secondary"> Reservar fecha</h2>
            </ion-item>
          </ion-list>
        </ion-card>
      </expandable>
    </ion-list-header>
  </ion-list>
  <div style="display: none">
    <ion-datetime [min]="min" [(ngModel)]="fecha_day" #fecha pickerFormat="YYYY-MM-DD" (ionChange)="oncloseFecha()">
    </ion-datetime>
    <ion-datetime [(ngModel)]="fecha_hour" #fecha_hora pickerFormat="hh:mm a" minuteValues="0,15,30,45"
                  (ionChange)="complete()">
    </ion-datetime>
  </div>
</ion-content>
