<!--
  Generated template for the NotificacionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>notificaciones</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let n of notificaciones">
    <ion-card>
      <ion-list>
        <ion-item class="text-ios-primary">
          {{n.texto}}
        </ion-item>
        <ion-item>
          <small>{{n.nombre}} - {{n.unidad}}</small>
          <small>{{n.fecha | date: 'dd/MM/yyyy H:mm'}}</small>
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-input [(ngModel)]="text" placeholder="Ingrese su publicación"></ion-input>
    <button ion-button item-end (click)="postNotificacion()">
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-item>
</ion-footer>
