<ion-header>
  <ion-navbar>
    <ion-title>Documentación</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of pages" (click)="goPage(item.component)">
      {{item.title}}
      <ion-icon item-right mode="ios" name="ios-arrow-dropright"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
