<ion-header>
  <ion-navbar>
    <ion-title>Mis reservas</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngFor="let reserva of reservas; let i = index">
    <ion-card margin-top *ngIf="reserva.cancelado == 0">
      <ion-list>
        <ion-item>
          {{reserva.objeto}} - {{reserva.fecha_reserva}}
        </ion-item>
        <ion-item class="text-ios-danger" (click)="cancelarReserva(reserva.reserva_id, i)" *ngIf="!isBefore(reserva.fecha_reserva)">
          <ion-icon name="close"></ion-icon>
          Cancelar reserva
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
