<ion-header>
  <ion-navbar>
    <ion-title>Mi Cuenta</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding-top>
  <ion-list>
    <ion-item class="item-divider-ios">
      Mi Cuenta
    </ion-item>
    <ion-item (click)="goPage()">
      Mis reservas
      <ion-icon item-end name="ios-arrow-dropright"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
